In [1]:
print("Hello! Python!")

Hello! Python!

In [8]:
n = 10 #int
m = 5.0 #float
name = '徐國堂' #str
is_google = True #bool

In [9]:
print(n)
print(m)
print(name)
print(is_google)

10
5.0
徐國堂
True

In [13]:
#tuple
t1 = (1, 2, 3, 4, 5)
print(type(t1))

t2 = ('a', 'b', 'c')
t2

<class 'tuple'>

('a', 'b', 'c')

In [16]:
#tuple,暫時的資料
#tuple的內容不可以修改
#tuple最常使用在拆解法(拆解tuple,給變數)

name,chinese,math,english = '徐國堂',78,92,65

In [17]:
print(name)
print(chinese)
print(math)
print(english)

徐國堂
78
92
65

In [18]:
mylist = [1, 2, 3, 4]
mylist

[1, 2, 3, 4]

In [19]:
print(type(mylist))

<class 'list'>

In [20]:
student1 = ['徐國堂',78,92,65]
student1

['徐國堂', 78, 92, 65]

In [22]:
#subscript
print(student1[0])
print(student1[1])
print(student1[2])
print(student1[3])

徐國堂
78
92
65

In [24]:
#list iterable
for element in student1:
    print(element)

徐國堂
78
92
65

In [25]:
greeting = 'Hello! Python!'
for ele in greeting:
    print(ele)

H
e
l
l
o
!

P
y
t
h
o
n
!

In [29]:
#dictionary
stu1 = {'name':'徐國堂',
 'chinese':78,
 'english':92,
 'math':65}

stu1

stu1['name']

'徐國堂'

In [27]:
print(type(stu1))

<class 'dict'>

In [30]:
for key in stu1:
    print(stu1[key])

徐國堂
78
92
65